@font-face {
    font-family: architext;
    src: url(../fonts/Architex.ttf);
}
* {
    box-sizing:border-box;
    margin:none;
    padding:none;
}
html {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}
body {
    background: black;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    width:100vw;
    height:100vh;
    margin:none;
}
body::-webkit-scrollbar {
    display: none;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin:none;
    padding:none;
}
a {
    text-decoration: none;
    color: inherit;
}
#about {
    display:none;
    font-family:architext;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:10;
}