@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
* {
    font-family:montserrat;
    box-sizing:border-box;
}
html {
    text-rendering: optimizeSpeed;
    text-size-adjust: 100%;
}
body {
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
}
body::-webkit-scrollbar {
    display: none;
}
/* MOUSE */

/* SCROLLBAR */
#scrollBar {
    position:fixed;
    left:10px;
    z-index:90;
    transform-origin: center center;
    transform-box:fill-box;
}

/* MAX/MIN WINDOW */
#minmax {
    position:fixed;
    top:5px;
    left:-32px;
    opacity:0.7;
}
#max {
    display:block;
}
#min {
    display:none;
}
/* SECTIONS */
.section {
    width:100vw;
    height:100vh;
    margin:0;
    z-index:-1;
}
#section0 {position:fixed;top:0;left:0; background:black}
#section1 {position:fixed;top:0;left:100vw; background:purple}
#section2 {position:fixed;top:0;left:200vw; background:red}
#section3 {position:fixed;top:0;left:300vw; background:green}
#section4 {position:fixed;top:0;left:400vw; background:blue}
#section5 {position:fixed;top:0;left:500vw; background:yellow}




#loader {
    display:none;
    width: auto;
    height: calc(min(40vh,50vw));
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: relative;
}
#hello,
#living,
#pleased {
    z-index:1;
    display:none;
    font-size:1.8rem;
    text-align: center;
    font-weight:500;
}
.fall {
    display:none;
    z-index:0;
    width:100vh;
    height:100vw;
    position:fixed;
    bottom:0;
    left:-100vh;
    transform-origin: bottom right;
    transform-box:fill-box;
    margin:none;
}
#thinker {
    transform:translateX(0.25vw);
}
.gears {
    transform-origin: center center;
    transform-box:fill-box;
}
.cw {
    animation: spin0 5s linear infinite;
}
.ccw {
    animation: spin1 5s linear infinite;
}
@keyframes spin0 {
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}
@keyframes spin1 {
    from {transform:rotate(0deg)}
    to {transform:rotate(-360deg)}
}