/* FONTS */
@font-face {
    font-family: "tangerine";
    src: url(../fonts/Tangerine-Regular.ttf);
}
/* VARIABLES */
:root {
    --WW: 50vw;
    --HH: 50vh;
    --ww: calc(min(2.5vw,2.5vh));
    --hh: calc(min(2.5vw,2.5vh));
}
/* CSS RESETS */
html, body, div, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav {
	display: block;
}
/* BODY */
body {
    display:flex;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
    justify-content:center;
    align-items:center;
    background: #222;
    background-image: 
        linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.2) 1px, transparent 1px),
        linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px);
    background-size: var(--WW) var(--HH), var(--WW) var(--HH), var(--ww) var(--hh), var(--ww) var(--hh);
    background-position: -2px -2px, -2px -2px, -1px 0px, -1px 0px;
    line-height:1;
}
/* DISABLE SCROLLBARS */
body::-webkit-scrollbar {
    display: none;
}
/* MOUSE FOLLOWER */
#mOut {
    position:fixed;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100px;
    height:100px;
    border:1px solid rgba(0,0,0,0.1);
    opacity:0.7;
    user-select:none;
}
#mIn {
    width:40px;
    height:40px;
    border-radius:50%;
    border:1px solid whitesmoke;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    user-select:none;
}
/* HEADINGS */
h1 {
    position:absolute;
    user-select:none;
    font-size:8rem;
    color:rgba(255,255,255,0.1);
}
h2 {
    position:absolute;
    user-select:none;
    font-size:4rem;
    color:rgba(255,255,255,0.2);
}
h3 {
    position:absolute;
    user-select:none;
    font-size:3rem;
    color:rgba(255,255,255,0.1);
}
h4 {
    position:absolute;
    user-select:none;
    font-size:2rem;
    color:rgba(255,255,255,0.1);
}
h5 {
    position:absolute;
    user-select:none;
    font-size:1rem;
    color:rgba(255,255,255,0.1);
}
h6 {
    position:absolute;
    user-select:none;
    font-size:0.8rem;
    color:rgba(255,255,255,0.1);
}
/* SECTIONS */
section {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height: 100vh;
    overflow:hidden;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#section-0 {
    position:fixed;
    top:0;
    left:0;
}
#section-1 {
    position:fixed;
    top:100vh;
    left:0;
}
#section-3 {
    position:fixed;
    top:-100vh;
    left:0;
}
#section-4 {
    position:fixed;
    top:0;
    left:100vw;
}
#section-5 {
    position:fixed;
    top:0;
    left:-100vw;
}
/* NAVIGATION */
.nav {
    user-select:none;
    cursor:pointer;
    filter:invert(1);
    border:none;
    padding:none;
    opacity:0.7;
}
#navU {
    position:fixed;
    top:1rem;
    left:50vw;
    transform:translateX(-13px);
}
#navD {
    position:fixed;
    bottom:1rem;
    left:50vw;
    transform:translateX(-13px);
}
#navL {
    position:fixed;
    top:50vh;
    left:1rem;
    transform:translateY(-13px);
}
#navR {
    position:fixed;
    top:50vh;
    right:1rem;
    transform:translateY(-13px);
}
/* SCOREBOARD */
#scoreboard {
    position:fixed;
    user-select:none;
    top:1rem;
    right:1rem;
    color:rgba(255,255,255,0.4);
    font-size:0.7rem;
}
/* XY COORDINATES */
#coord {
    position:fixed;
    bottom:1rem;
    right:1rem;
    user-select:none;
    color:rgba(255,255,255,0.4);
    font-size:0.7rem;
    z-index:0;
}

#anim {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}
#cartesian {
    /* display:flex; */
    display:none;
    position:fixed;
    justify-content:center;
    align-items:center;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}
#layout rect {
    width:6.87066px;
    height:6.87066px;
    opacity:0.2;
}
.fall {
    position:fixed;
    bottom:0;
    left:-100vh;
    transform-origin:bottom right;
    width:100vh;
    height:100vw;
}
#me {
    display:flex;
    align-items:center;
    justify-content:center;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    color:#fff;
    opacity:0.8;
    font-weight:500;
    font-size:2.75rem;
}
#mail {
    filter:brightness(0) invert(1);
    width:300px;
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 10px;
    transition: 2s ease-out;
    position: fixed;
    transform-origin:center center;
}
#im {
    display:none;
}
.card {
    position:fixed;
    width:calc(min(40vw,40vh));
    height:80vh;
    background: rgba(255,255,255,0.2);
    /* border: 1px solid rgba(255,255,255,0.3); */
    /* transition-property: rotateX; */
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
    margin: auto;
    text-align: center;
    color: rgba(255,255,255,0.6);
}
.dimH {
    content:'';
    position:absolute;
    top:0;
    left:calc(-1rem + 4px);
    width:4px;
    height:100%;
    font-size:0.6rem;
    writing-mode:vertical-lr;
    font-weight:300;
    color: rgba(255,255,255,0.4);
}
.dimW {
    content:'';
    position:absolute;
    bottom:-4px;
    left:0;
    width:100%;
    height:2px;
    font-size:0.6rem;
    font-weight:300;
    color: rgba(255,255,255,0.4);
}
.title {
    font-size:2rem;
    font-weight: 700;
}
.subtitle1 {
    font-size:1.5rem;
    font-weight: 500;
}
.subtitle2 {
    font-size:1.3rem;
    font-weight: 500;    
}
.xpand {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transform:rotateX(0deg);
    transform-origin:bottom center;
    transition: 1.7s cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events:none;
}
.xpandL {
    opacity:0;
    left:0;
    transform:rotateZ(0deg);
}
.xpandR {
    opacity:0;
    right:0;
    transform:rotateZ(0deg);
}
button {
    width:45%;
    height:100%;
    border-radius:1rem;
    cursor:pointer;
    font-weight:600;
    background: none;
    color: rgba(255,255,255,0.6);
    border: 1px solid rgba(255,255,255,0.6);
    padding-bottom:0.3rem;
}
button:active,
button:focus {
    outline:none;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 650px) {
    /* body {
        background:#386d9b;
    } */
    .card {
        width:80vw;
    }
}