@font-face {
    font-family: architext;
    src: url(../fonts/Architex.ttf);
}
* {
    box-sizing:border-box;
    font-family: architext;
}
html {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}
body {
    background-color: black;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}
body::-webkit-scrollbar {
    display: none;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
#nav {
    display: none;
    width:100vw;
    position: fixed;
    bottom: 2vh;
    left: 0;
    margin:none;
    padding:none;
    text-align:center;
    z-index:30;
}
#navSVG {
    transform:scale(1.5);
    margin:auto;
}
.circle {
    fill:#fff;
    opacity:0;
    cursor:pointer;
    transition:0.5s ease;
}
.circle:active,
.circle:focus,
.circle:hover {
    fill:#fff;
    outline:none;
    border:none;
    opacity:0.2;
    transform:scale(1.3);
}
#github,
#portfolio,
.about,
.home,
.codepen,
.linkedin,
.circle {
    transform-origin: center center;
    transform-box: fill-box;
}
/* NAV */
#navBox {
    box-shadow:10px 10px 5px;
}
/* ABOUT */
#about {
    display:none;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:10;
}