@font-face {
    font-family: architext;
    src: url(../fonts/Architex.ttf);
}
* {
    font-family:
    box-sizing:border-box;
    margin:none;
    padding:none;
}
html {
    text-rendering: optimizeSpeed;
    text-size-adjust: 100%;
}
body {
    cursor:none;
    background:#000;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    width:100vw;
    height:100vh;
    margin:none;
}
body::-webkit-scrollbar {
    display: none;
}
#mouseDiv {
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    border: 1px solid black;
    width:100px;
    height:100px;
    background:none;
}
#mouseCir {
    display:none;
    opacity:0.7;
}
#loader {
    display:none;
    width: auto;
    height: calc(min(40vh,50vw));
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: relative;
}
#loadText,
#me {
    font-family: architext;
}
#hello,
#living,
#pleased {
    z-index:1;
    display:none;
    font-family: architext;
    font-size:1.8rem;
    text-align: center;
    font-weight:500;
}
.fall {
    z-index:0;
    width:100vh;
    height:100vw;
    position:fixed;
    bottom:0;
    left:-100vh;
    transform-origin: bottom right;
    transform-box:fill-box;
    margin:none;
}
#thinker {
    transform:translateX(0.25vw);
}
.gears {
    transform-origin: center center;
    transform-box:fill-box;
}
.cw {
    animation: spin0 5s linear infinite;
}
.ccw {
    animation: spin1 5s linear infinite;
}
@keyframes spin0 {
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}
@keyframes spin1 {
    from {transform:rotate(0deg)}
    to {transform:rotate(-360deg)}
}
section {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin:none;
    padding:none;
}
a {
    text-decoration: none;
    color: inherit;
}
#about {
    display:none;
    font-family:architext;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:10;
}